section#ledger {
    display: grid;
}

section#ledger table.ordertxn {
    border-collapse: collapse;
}

section#ledger tr.ordertxntitle > th {
    background-color: var(--base-bg-color);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 0.6rem;
}

section#ledger tr#newentry > td > form {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
section#ledger tr#newentry > td > form > p {
    margin: 1rem;
}

section#ledger tr#newentry > td > form label {
    font-size: 0.6rem;
}

section#ledger tr#newentry > td > form button {
    padding: 0.4rem 1rem;
}

section#ledger tr#newentry > td > form input, select {
    padding: 0.4rem 0.2rem;
    border-radius: 0.6rem;
    border-width: 0.1rem;
    border-color: var(--hl-font-color);
    color: var(--hl-font-color);
}

section#ledger tr#newentry > td > form input.amount {
    text-align: right;
    width: 5rem;
}

section#ledger tr#newentry > td > form p.customChckBox {
    display: flex;
    align-items: center;
}

section#ledger tr#newentry > td > form p.customChckBox label {
    display: flex;
    cursor: pointer;
}

section#ledger tr#newentry > td > form p.customChckBox input[type="checkbox"] {
    height: 1.4rem;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

section#ledger tr#newentry > td > form p.customChckBox label::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--hl-font-color);
    margin-right: 0.2rem;
}

section#ledger tr#newentry > td > form p.customChckBox label:hover::before,
section#ledger tr#newentry > td > form p.customChckBox input[type="checkbox"]:hover + label::before {
    background-color: var(--hl-font-color);
}

section#ledger tr#newentry > td > form p.customChckBox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0.1rem black;
}

section#ledger tr#newentry > td > form p.customChckBox input[type="checkbox"]:checked + label::before {
    content: "\002714";
    background-color: var(--hl-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}


