section#login {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
}

section#login header {
    grid-column: 2;
    grid-row: 1
}

section#login p {
    grid-column: 2;
    grid-row: 2
}

section#login form {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

section#login form p {
    display: flex;
    flex-direction: column;
}

section#login form p > label {
    font-size: 0.6rem
}

section#login form input {
    padding: 0.6rem;
    border-radius: 0.6rem;
    border-width: 0.1rem;
    border-color: var(--hl-font-color);
    color: var(--hl-font-color);
}

section#login form p > button {
    padding: 0.4rem 1rem;
}