
@mixin orderStatus($bgColor: #ef5665, $fontColor: var(--base-bg-color)) {
    background-color: $bgColor;
    border-radius: 0.8rem;
    color: var(--base-bg-color);
    padding: 0.4rem;
    font-weight: 600;
    text-align: center;
}

@mixin orderType($fontColor: #ef5665) {
    color: $fontColor;
    font-weight: 600;
}

.ordertxn {
    tr.ordertxndata {
        font-style: normal;
        background-color: #f8fbfb;
        border-radius: 0.6rem;
        border-top: 1rem solid var(--base-bg-color);
        border-bottom: 1rem solid var(--base-bg-color);

        td {
            padding: 1rem 1rem;
            margin: 1rem 0;
            font-size: 0.8rem;

            .ordertxnnum {
                text-align: right;
            }
        }


    }

    td {
        .orderstatus_false aside {
            @include orderStatus()
        }
        .orderstatus_true aside {
            @include orderStatus($bgColor: #d5f4d8, $fontColor: var(--hl-font-color));
        }   
        .ordertype_SELL {
            @include orderType();
        }  
        .ordertype_BUY {
            @include orderType($fontColor: #2fd740);
        }  
    }




}
/* .ordertxn tr.ordertxndata {
    font-style: normal;
    background-color: #f8fbfb;
    border-radius: 0.6rem;
    border-top: 1rem solid var(--base-bg-color);
    border-bottom: 1rem solid var(--base-bg-color);
} */

/* .ordertxn tr.ordertxndata:hover {
    background-color: aliceblue;
} */

// .ordertxn tr.ordertxndata td {
//     padding: 1rem 1rem;
//     margin: 1rem 0;
//     font-size: 0.8rem;
// }

// .ordertxn tr.ordertxndata td.ordertxnnum {
//     text-align: right;
// }
/* .ordertxn dt {
    display: none;
} */

/* .ordertxn dd {
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    font-size: 0.8rem;
    color: var(--base-font-color);
} */

// .ordertxn td.orderstatus_false aside {
//     background-color: #ef5665;
//     border-radius: 0.8rem;
//     color: var(--base-bg-color);
//     padding: 0.4rem;
//     font-weight: 600;
//     text-align: center;
// }

// .ordertxn td.orderstatus_true aside {
//     background-color: #d5f4d8;
//     border-radius: 0.8rem;
//     color: var(--hl-font-color);
//     padding: 0.4rem;
//     font-weight: 600;
//     text-align: center;
// }

// .ordertxn td.ordertype_SELL {
//     color: #ef5665;
//     font-weight: 600;
// }

// .ordertxn td.ordertype_BUY {
//     color: #2fd740;
//     font-weight: 600;
// }
